@model IEnumerable<yore_v1.Models.Post>

@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <div class="col-sm-1">
            <img src="https://i.ibb.co/GMLNc55/yore-logo.png" border="0" width="50px">
        </div>
        <div class="col-sm-7">
            <h2 style="margin-top: 9px; margin-left: -25px;">Health and Travel</h2>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Create", "Posts")" class="btn btn-success">Create new Post</a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Logout", "User")" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" style="width: 25rem;" src="@Html.DisplayFor(modelItem => item.Photo)" alt="Card image cap">
                <div class="card-body">
                    <b>
                        <p>
                            @Html.DisplayFor(modelItem => item.Title)
                        </p>
                    </b>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Content)
                    </p>
                    <a href="@Url.Action("Details", "Posts", new { id = item.PostID })" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
        </div>
    }
</div>
